.wrapperWhole {
  margin: 1em;
}

.title {
  margin: 8px 0;
  padding-bottom: 8px;
  text-align: center;
}

.titleLight {
  background-color: lightgray;
  padding: 4px 8px;
  margin-bottom: 4px;
  border-bottom: 2px solid darkgray;
}

.hideOverflow {
  overflow: hidden;
}
